<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.wst.server.core.serverTypes">
      <serverType
            behaviourClass="org.jboss.tools.openshift.vagrant.core.internal.server.VagrantServerBehaviour"
            class="org.jboss.tools.openshift.vagrant.core.internal.server.VagrantServer"
            name="%openshift.vagrant.name"
            description="%openshift.vagrant.description"
            hasConfiguration="false"
            id="org.jboss.tools.openshift.vagrant.server.type"
            initialState="stopped"
            launchConfigId="org.jboss.tools.openshift.vagrant.core.internal.behaviour.launchType"
            launchModes="run"
            runtime="true"
            runtimeTypeId="org.jboss.tools.openshift.vagrant.internal.vagrant.runtime"
            startBeforePublish="false"
            startTimeout="450000"
            stopTimeout="450000"
            supportsRemoteHosts="false"/>
    </extension>
    
    
   <extension point="org.eclipse.wst.server.core.runtimeTypes">
         <!-- This is a complete dummy runtime type and is unused but cannot be removed -->
      <runtimeType
            class="org.jboss.tools.openshift.vagrant.internal.vagrant.DummyServerRuntime"
            description="A runtime representing a Vagrant container."
            id="org.jboss.tools.openshift.vagrant.internal.vagrant.runtime"
            name="Vagrant"
            supportsManualCreation="false"
            vendor="Vagrant"
            version="1.0">
      </runtimeType>
	</extension> 
    
    
    <!-- Launch Configuration for the servers -->
	<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="JBoss"
            delegate="org.jboss.tools.openshift.vagrant.core.internal.server.VagrantLaunch"
            id="org.jboss.tools.openshift.vagrant.core.internal.behaviour.launchType"
            modes="run"
            name="Vagrant Server Startup Configuration"
            public="true"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
            sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
	</extension>





   <extension
         point="org.eclipse.wst.server.ui.serverImages">
      <image
            icon="$nl$/icons/vagrant_16.png"
            typeIds="org.jboss.tools.openshift.vagrant.server.type"
            id="org.jboss.tools.openshift.vagrant.server.type.icon"/>
   </extension>

   <extension
         point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
            class="org.jboss.tools.openshift.vagrant.ui.internal.server.VagrantServerWizardFragment"
            typeIds="org.jboss.tools.openshift.vagrant.server.type"
        	id="org.jboss.tools.openshift.vagrant.server.type.VagrantServerWizardFragment"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.jboss.tools.openshift.vagrant.ui.internal.server.VagrantLaunchConfigurationTabGroup"
            description="Launch Tabs for Vagrant"
            id="org.jboss.tools.openshift.vagrant.ui.internal.server.VagrantLaunchConfigurationTabGroup"
            type="org.jboss.tools.openshift.vagrant.core.internal.behaviour.launchType"/>
   </extension>



      <extension
         point="org.eclipse.wst.server.ui.editorPageSections">
      <section
            class="org.jboss.tools.openshift.vagrant.ui.internal.server.LocationSection"
            id="org.jboss.tools.openshift.vagrant.ui.internal.server.LocationSection"
            insertionId="org.eclipse.wst.server.editor.overview.left"
            order="8"
            typeIds="org.jboss.tools.openshift.vagrant.server.type"/>
   </extension>
</plugin>
